@import "reset.less";
@import "shared.less";
@import "variables.less";

@font-face {
  font-family: "Apercu";
  font-style: normal;
  font-weight: normal;
  src: local("Apercu"),
    local("Apercu Regular"),
    url("./components/base/fonts/apercu-regular-webfont.eot") format("eot"),
    url("./components/base/fonts/apercu-regular-webfont.ttf") format("ttf"),
    url("./components/base/fonts/apercu-regular-webfont.woff") format("woff"),
    url("./components/base/fonts/apercu-regular-webfont.svg") format("svg");
}

html,
body {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-family: "Apercu", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  height: 100%;
  line-height: 1.583;
  min-height: 100%;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
