.layout {
  background: blue;
}

.layout-wrapper {
  margin: 0 auto;
  max-width: 1064px;
  padding: 0 67px;
}

.layout-header {
  background: red;
}

.layout-content {
  background: blue;
}

.layout-footer {
  background: red;
}
