.link {
  cursor: pointer;
  font-weight: 300;
  letter-spacing: 0.05em;
  text-decoration: none;
}

.link--secondary {
  text-decoration: underline;
}

.link:hover {
  text-decoration: line-through;
}
