.mainFooter {
  background: rgb(31, 31, 31);
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-weight: 300;
  padding: 300px 0 200px;
  position: relative;
}

.mainFooter-inner {
  padding-right: 20%;
}

.mainFooter-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 24px;
  text-transform: uppercase;
}

.mainFooter-splash {
  position: absolute;
  width: 100%;
  top: 0;
}
