.mainHeader {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.mainHeader-inner {
  background: url("./components/base/images/header-background.png") rgb(0, 0, 0) no-repeat bottom center;
  background-size: contain;
  padding: 72px 0 200px;
}

.mainHeader-logo {
  height: 45px;
  max-width: 45px;
}

.mainHeader-title {
  font-size: 32px;
  margin-top: 75px;
}

.mainHeader-title--secondary {
  font-size: 24px;
  margin-top: 14px;
}

.mainHeader-nav {
  float: right;
  font-size: 22px;
  margin-top: 6px;
}

.mainHeader-navItem {
  display: inline-block;
  margin-left: 40px;
}
