@import "variables.less";
@import "shared.less";

.mainFooter {
  .m-fontSize(32px);
  font-weight: 300;
  padding-bottom: 4em;
  position: relative;
}

.mainFooter-title {
  .m-fontSize(18px, 32px);
  font-weight: bold;
  letter-spacing: 0.05em;
  margin-bottom: 1.1em;
  text-transform: uppercase;
}

.mainFooter-splash {
  position: absolute;
  width: 100%;
  top: 0;
}
