.mainHeader {
  background: rgb(14, 14, 14);
  color: rgb(255, 255, 255);
  padding: 72px 0;
}

.mainHeader-logo {
  height: 45px;
  max-width: 45px;
}

.mainHeader-title {
  font-size: 32px;
  margin-top: 75px;
}

.mainHeader-title--secondary {
  font-size: 24px;
  margin-top: 14px;
}

.mainHeader-nav {
  float: right;
  font-size: 22px;
  margin-top: 6px;
}

.mainHeader-navItem {
  display: inline-block;
  margin-left: 40px;
}
